html {
  scroll-behavior: smooth; /* 페이지 내 이동 시 부드럽게 이동 */

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* 상단 내비게이션 부분 */
header {
  position: fixed;
  right: 0;
  padding-right: 50px;
}
nav > ul {
  display: flex;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 20px 20px;
}
nav > ul > li {
  padding: 20px 40px 10px 40px;
}
nav a {
  color: rgb(189, 189, 189);
  font-weight: bold;
  transition: 0.2s;
}
nav a:hover {
  color: white;
}

/* home-section */
#home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../resource/main-img.jpg);
}
#home-section > div {
  padding: 10px;

  color: white;
  font-weight: 600;
}
#home-section > div:nth-child(1) {
  font-size: 3rem;
}
#home-section > div:nth-child(2) {
  font-size: 2rem;
}

/* about-section */
#about-section {
  display: flex;
  padding: 100px 0;
}
#about-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about-section > div:nth-child(1) {
  flex: 2 auto;
  align-items: center;
}
#about-section > div:nth-child(1) > p {
  font-size: 2.3rem;
  padding-bottom: 5px;
  border-bottom: 2px solid gainsboro;
  color: black;
}
#about-section > div:nth-child(2) {
  flex: 3 auto;
}
#about-section > div:nth-child(2) > p {
  padding: 5px 0;
}
#about-section > div:nth-child(2) > p:first-child {
  padding: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: burlywood;
}
/* middle section 공통 */
.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-section > div:nth-of-type(1) {
  padding: 30px 0;
}
.middle-section > div:nth-child(1) > p {
  padding-bottom: 10px;
  font-size: 2.3rem;
}

/* skills */
#skills-section {
  background-color: gainsboro;
}
#skills-section > div:nth-child(1) > p {
  border-bottom: 2px solid gray;
}
.skill-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.skill-content > p {
  padding-bottom: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: gray;
}
.skill-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skill-content > div > img {
  width: 200px;
  height: 200px;
  padding: 20px;
  object-fit: contain;
}

/* career-section */
#career-section > div:nth-child(1) > p {
  border-bottom: 2px solid burlywood;
}
#career-box {
  display: flex;
}
.career-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px 50px 0;
}
.career-content > p {
  align-self: center;
  font-size: 1.5rem;
  padding: 20px;
}
.career-content > div {
  padding: 10px;
}
.career-content > div > p:nth-of-type(1) {
  padding-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}
.career-content > div > p > span {
  font-size: 1rem;
  color: gray;
  font-weight: normal;
}

/* projects-section */
#projects-section {
  background-color: burlywood;
}
#projects-section > div:nth-child(1) > p {
  border-bottom: 2px solid white;
}
.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.project-content > h3 {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}
.project-content > h3 > span {
  font-size: 0.8rem;
  font-weight: normal;
}
.project-content > h3 > span:hover {
  text-decoration: underline;
}
.project-content > div {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 3px 3px 5px black;
}
.project-content > div > img {
  width: 500px;
  height: 300px;
  object-fit: contain;
  padding: 20px;
}
.project-content > div > div {
  padding: 20px;
}
.project-content > div > div > p {
  padding: 5px 0;
}
.project-content > div > div > p > span {
  font-weight: 600;
}

/* Contact */
#contact-section > div:nth-child(1) > p {
  border-bottom: 2px solid gainsboro;
}
.contact-content > p {
  font-size: 1.3rem;
  padding: 15px;
}
.contact-content > p > a:hover {
  text-decoration: underline;
}

.pdf-link {
  color: gray;
}
.pdf-link:hover {
  color: blue;
}
