* {
  margin: 0px;
}

/* 좌측 메뉴바 */
nav {
  width: 200px;
  position: fixed; /* 화면 고정 */
  left: 0px;
  top: 80px;
  height: 900px;
  opacity: 0.9;
  z-index: 1;
  background: linear-gradient(black, black, 95%, transparent);
}
.main_menu {
  height: 900px;
  width: 100%;
}
.main_menu * {
  width: 100%;
  float: left;
  padding-left: 0;
}
.main_menu > ul {
  margin-top: 50px;
}
.main_menu a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 10px #e5e5e5;
  font-size: 1.2rem;
  height: 50px;
}
.main_menu a:hover {
  color: #fca311;
  font-size: 1.5rem;
  transition: 0.5s; /* 서서히 변경 */
}
.main_menu li {
  list-style: none;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

/* 상단 바 */
header {
  position: fixed; /* 화면 고정 */
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
  /* background: linear-gradient(#f2e9e4, #f2e9e4, 95%, transparent);           그라데이션 */
  background-color: #e5e5e5;
  z-index: 1;
}
/* 로고 */
.logo {
  width: 50px;
  height: 50px;
  margin: 20px 70px;
}
.logo img {
  width: 100%;
  filter: invert(72%) sepia(20%) saturate(4241%) hue-rotate(351deg)
    brightness(100%) contrast(98%);
}

/* 메인 화면 */
main {
  padding-top: 80px;
  padding-left: 200px;
  height: 5000px;

  background-image: url("https://picsum.photos/1950/1000"); /* 임시 이미지 */
  filter: grayscale(1);
  background-attachment: fixed;
}
